*{
  margin: 2px;
  padding: 0;
} 
/*@import url('normalize.css');*/
@keyframes grow {
  from {
    height: 1px;
    width: 1px;
  }
  to {
  }
}
body {
  background-image: linear-gradient(to right, rgba(0, 128, 0, 0.7), yellowgreen, rgba(0, 128, 0, 0.7));
}
#maindiv {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 15px;
  border: groove 1px green;
}
#maindiv:hover {
  background-color: rgba(255, 255, 0, 0.5);
}
fieldset {
  border: none;
}
legend {
  /*top:50%;*/
  position: absolute;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 130px;
  height: 130px;
  background-image: url("../img/v.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 110px;
  border-radius: 40px;
}
#centro {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 55%;
  transform:translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-content:center;
  align-items: center;
}
#h3 {
  font-variant: small-caps;
  font-size: 30px;
  color: darkblue;
}
.dvs{
  width: 100%;
}
label {
  width: 20%;
  font-weight: bold;
  font-size: 20px;
  color: darkblue;
}
input {
  width: 65%;
  border-radius: 10px;
  font-size: 18px;
  font-weight: normal;
  padding: 2%;
  color: green;
  border: 2px groove red;
  text-align: center;
}
::placeholder {
  color: yellowgreen;
}
.divd {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  }
#user,
#userr {
  background-image: url("../img/user1.png");
  background-repeat: no-repeat;
  background-position: left 3px center;
  background-size: 20px;
}
#pass,
#passr {
  background-image: url("../img/chaves.png");
  background-repeat: no-repeat;
  background-position: left 3px center;
  background-size: 20px;
}
button {
  position: relative;
  font-size: 20px;
  color: darkblue;
  border-radius: 10px;
  border: 2px groove red;
  padding: 5px;
  font-weight: bold;
}
button:hover {
  border: 2px ridge darkblue;
}
a:link {
  color: darkblue;
}
a:visited {
  color: red;
}
a:hover {
  color: blue;
}
a:active {
  color: green;
}
#dev{
  position: fixed;
  bottom: 10px;
  right: 10px;
}
#dev a{
  text-decoration: none;
}


#name{
  position: absolute;
  top: 3%;
  right: 5%;
}